<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
       <link rel="icon" href="/img/weather-icon-vector-illustration.jpg">
    <link rel="stylesheet" href="./css/Styles.css">
</head>
<body>
    <div class="main-content">
    {{> header}}
     <p>This site was created by LexLab. it uses Mapbox and darksky.net API to fetch locatoin weather.</p>
    <img class="myImage" src="img/Dulex.jpg" alt="my image">
    </div>
    {{> footer}}
</body>
</html>